.doc1{
 border-style: solid;
 border-radius:10px;
 border-width: 1px;
 width:250px;
 height:260px;
 object-fit:content;
 max-width: 100%;

}

.btn.btn-primary{
    max-width: 100%;

}

.main{
  display:flex;
  flex-direction:row;


}

#content1{
  display:flex;
  flex-direction:column;
  margin-right:50px;

}

body{
    margin-right: 50px;
    margin-left: 0px;
}
